<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">

    <title>rajdhani</title>
  </head>
  <body>
  <!--  <div class="container">
        <div class="row">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" href="/">Active</a>
              </li>   
            </ul>         
        </div>
    </div>
    <hr class="my-4">-->  
    <div class="container">
         <div class="row">
            <div class="col-1"></div>
                <div class="col-10">
                    <div class="row">
                        <ul class="nav">
                          <li class="nav-item">
                            <h1><a class="nav-link active" href="/">Rajdhani</a></h1>
                          </li>   
                        </ul>         
                     </div>
                     <hr class="my-4">

                    

        
